@model Cashed.View.Models.ExpenseBillViewModel
@{
    Layout = null;
}

<div class="container">
    <div class="row expenses-totals">
        <div class="column-header-col col col-sm-5">
            <span class="expenses-subtotals">Промежуточный итог:</span>
        </div>
        <div class="subtotals-placeholder col col-sm-4">
            <span>@Model.DateTime</span>
        </div>
        <div class="expenses-subtotals expenses-sum col col-sm-3">
            <span>@Model.Subtotal</span>
        </div>
    </div>
    @for (int i = 0; i < Model.Subtotals.Count; i++)
    {
        var subtotal = Model.Subtotals[i];

        <div class="row expenses-subtotals-row">
            <div class="expenses-subtotals col col-sm-5">
                <span>#@(i + 1) @subtotal.Product</span>
            </div>
            <div class="expenses-subtotals col col-sm-4">
                <span>@subtotal.Category</span>
            </div>
            <div class="expenses-subtotals expenses-sum col col-sm-3">
                <span>@subtotal.Price</span>
            </div>
        </div>
    }
</div>

