@model Cashed.View.Models.ExpensesBillsViewList
@{
    ViewBag.Title = "Расходы";
}

<div>
    <span class="expenses-header">Счета</span>
@*    <span><button class="btn btn-primary btn-sm">Добавить новый</button></span>*@
    @Html.ActionLink("Добавить новый", "Add", null, new { @class = "btn btn-primary btn-sm" })
</div>
<table class="expenses-table table table-striped table-hover">
    <thead class="thead-inverse">
        <tr>
            <th>Дата/время</th>
            <th>Категория</th>
            <th>Общая сумма</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Bills.Count; i++)
        {
            var bill = Model.Bills[i];

            <tr data-id="@bill.Id">
                <td>@bill.DateTime</td>
                <td>@bill.Category</td>
                <td>@bill.Cost</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script type="text/javascript">
        activateLink("#expensesLink");
    </script>
}