@model Cashed.View.Models.EditIncomeTypeViewModel

@{
    ViewBag.Title = "Доходы";
}

<div class="centered-form">
    <h3>Редактирование статьи доходов</h3>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="form-group row">
            @Html.LabelFor(m => m.Id, null, new {@class = "col-form-label col-md-3"})
            @Html.TextBoxFor(m => m.Id, null, new {@class = "form-control col-md-9", @disabled = "disabled"})
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.Name, null, new {@class = "col-form-label col-md-3"})
            @Html.TextBoxFor(m => m.Name, null, new {@class = "form-control col-md-9"})
        </div>
        <div class="container validation-message-in-container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
        </div>

        <div class="bottom-buttons-row">
            <button type="submit" class="btn btn-outline-primary cursor-pointer">Сохранить</button>
            @Html.ActionLink("Отмена", "Index", "Incomes", null, new
            {
                id = "categoriesLink",
                @class = "btn btn-outline-danger"
            })
        </div>
    }
</div>

@section Scripts {
    <script type="text/javascript">
        activateLink("#incomesLink");
    </script>
}

